{% extends "layout.njk" %}

{% block content %}
    <div class="main-hero">
        <div class="hero-content">
            <h1>Error 404</h1>
            <p>Página não encontrada ou indisponível no momento.</p>
        </div>
        <div class="hero-image">
            <img src="images/chef.png" alt="Chef Foodfy">
        </div>
    </div>

    <section>
        <h2>Em destaque</h2>
        <div class="recipes">
            {% for item in items.slice(3, 9) %}
                <article id="{{item.id}}" class="recipe-item">
                    <img src="images/{{item.image}}" alt="{{item.title}}">
                    <h3>{{item.title}}</h3>
                    <span>por {{item.author}}</span>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}