{% extends "layout.njk" %}

{% block head %}
   <title>{{item.title}} - Foodfy</title>
{% endblock %}

{% block content %}
   <div class="single">
      <header>
         <img src="images/{{item.image}}" alt="{{item.title}}">

         <h1>{{item.title}}</h1>
         <span class="author">Por {{item.author}}</span>
      </header>
      
      <div class="rec-step rec-ingredients">
         <div class="title">
            <h2>Ingredientes</h2>
            <button class="show-box">Esconder</button>
         </div>

        <ul>
         {% for item in item.ingredients %}
            <li>{{ item }}</li>
         {% endfor %}
        </ul>

      </div>

      <div class="rec-step rec-preparation">
         <div class="title">
            <h2>Modo de preparo</h2>
            <button class="show-box">Esconder</button>
         </div>

         <ul>
            {% for item in item.preparation %}
               <li>{{ item }}</li>
            {% endfor %}
         </ul>
      </div>

      {% if item.information %}
         <div class="rec-step rec-information">
            <div class="title">
               <h2>Informações adicionais</h2>
               <button class="show-box">Esconder</button>
            </div>

            <ul>
               <li>{{item.information}}</li>
            </ul>
         </div>
      {% endif %}
   </div>
{% endblock %}