{% extends "layout.njk" %}

{% block head %}
   <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}
    <div class="recipes">
        {% for item in items %}
            <article class="recipe-item">
                <img src="images/{{item.image}}" alt="{{item.title}}">
                <h3>{{item.title}}</h3>
                <span>por {{item.author}}</span>
            </article>
        {% endfor %}
    </div>

    <div class="modal-overlay">
        <div class="modal-body">
            <img src="" alt="">
            <h4></h4>
            <span></span>
            
            <button class="close">Fechar modal</button>
        </div>
    </div>
{% endblock %}